.searchInput {
    border: #315951 solid 2px !important;
    color: #565a66 ;
}
@media screen and (min-width: 600px) {
    .searchInput {
        width: 20% ;
        min-width:270px ;
        border: #315951 solid 2px ;
        color: #565a66 ;
    }
}


input::placeholder {
    color: #868686 !important;
}

select {
    border: #315951 solid 2px ;
    color: #565a66 ;


}