.TaskForm{
    ::placeholder{
        color: rgb(210, 206, 206);
        
    }
    input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
  border: 1px solid rgb(215, 215, 215);
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0px 1000px #29534e00 inset;
  transition: background-color 5000s ease-in-out 0s;
} 
    select {
        /* background: rgb(194, 222, 209); */
      }
/* 
      option:checked{
        color: rgb(246, 250, 0);
        background-color: rgb(5, 26, 1);
      } */
      /* option:disabled{
        color: red;
      } */
}