* {
    font-family: sans-serif;
}
body {
    background: #f5f5f5;

}
a {
  text-decoration: none;
  color: white !important;
}

:root {
  --main-color: #f09a22;
}
.main-color {
  color: var(--main-color) !important ;
}

a {
  text-decoration: none;
  color: black;
}

.auth-container {
  background-image: url(../src/assets/bg1.png);
  background-size: cover;
  background-position: bottom center;
  min-height: 100vh !important;
}

.auth-container ::placeholder{
    color: rgb(202, 202, 202) !important;
}

.form {
  background: #29534eb2 !important;
}

/* ?====================form Logo ======================= */

@media screen and (max-width: 400px) {
  .form-logo {
    width: 205px !important;
  }
}

@media screen and (min-width: 800px) {
  .form-logo {
    width: 100% !important;
  }
}

/* !=================== __ UnderLine Form-Name===================== */
.form-Name {

  color: #f09a22 !important;
}

.form-Name span {
  position: relative;
  width: fit-content;
  overflow: hidden;
}

.form-Name span::after {
  content: " " !important;
  width: 14px !important;
  height: 3px !important;
  background-color: var(--main-color) !important;
  position: absolute !important;
  left: 1.9px !important;
  bottom: 0 !important;
}

@media screen and (max-width: 768px) {
  .form-Name span::after {
    content: " " !important;
    width: 10px !important;
    max-width: 12px !important;
    height: 2px !important;
    background-color: var(--main-color) !important;
    position: absolute !important;
    left: 1.9px !important;
    bottom: 0 !important;
  }
}

/* ================inputs===================== */
.auth-container {
  ::placeholder {
    color: rgba(255, 255, 255, 0.712);
  }

  /* *===========Login Register Reset ..... =============== */
  .form-Name,
  form label,
  .eye {
    color: var(--main-color);
    font-weight: 700;
  }

  /* Change autocomplete styles in WebKit */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    border: 1px solid green;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0px 1000px #29534e00 inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}

.form-input:active,
.form-input:focus,
.form-input::content,
.form-input:checked {
  background: red !important;
}
.form-input:focus {
  outline: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid gainsboro !important;
  border-radius: 0;
}

/* ===============one-input-group================ */

.one-input-group {
  min-height: 80px;
  color: #f09a22;
}

/* *===========Form Button  Login Register Reset ..... =============== */

.form .btn {
  background: var(--main-color);
  border: none;
  font-size: 1.2rem !important;
  font-weight: 500;
  height: 45px;
}

/* ===========loader======== */
.loader {
  width: fit-content !important;
}

/* =========================== */
.header-container {
  height: 350px;
  background-image: url(../src/assets/Rectangle.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.bg-layout {
  background: rgba(49, 89, 81, 0.44) !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pageOverflow::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.pageOverflow {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ================Don't click when you call API====================== */
.noClick {
  pointer-events: none !important;
}

/* ==============autoComplete handle====================== */

input[type="file"] {
  align-items: center !important;
  z-index: 9999;
  background: #000 !important;
  height: 100px !important ;
  width: 100%;
}
/* ================== */
/* Change autocomplete styles in WebKit */
 input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    border: 1px solid green;
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0 0 0px 1000px #29534e00 inset;
    transition: background-color 5000s ease-in-out 0s;
} 

/* ?===============scrollbar=================== */
html {
  scrollbar-color: var(--main-color) #1f263e;
}

.logout{
    cursor: pointer;
}
/* =============Pagination================ */
.page-link{
    color: #000 !important; 
    cursor: pointer;
}
.page-link:hover {
  color: #000 !important; 
}

.active-link ,.active-link:hover  {
background: #3d5f57 ;
color: white !important;
    font-weight: 900; 
  }
  /* =============================== */
  .form-input-change-pass {
    color: black !important;
  }
  .logout {
    cursor: pointer;
  }